@import "github-markdown-css/github-markdown.css";
@import "highlight.js/styles/github-dark.css";

.markdown-body {
  background-color: inherit;
  color: #333333;
  box-sizing: border-box;
  font-size: 1em;
  pre {
    border-radius: 8px;
  }
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  color: #000000;
}

.markdown-body a {
  color: #007bff;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body ul {
  list-style-type: disc;
  margin-left: 10px;
  margin-bottom: 10px;
}

.markdown-body ul li {
  margin-bottom: 10px;
}