<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.bigtop.manager.dao.repository.ClusterDao">

    <sql id="baseColumns">
        id, cluster_name, cluster_type, root, user_group, packages, repo_template, state, selected, stack_id
    </sql>
    <sql id="baseColumnsV2">
        ${alias}.id, ${alias}.cluster_name, ${alias}.cluster_type, ${alias}.root, ${alias}.user_group, ${alias}.packages, ${alias}.repo_template, ${alias}.state, ${alias}.selected, ${alias}.stack_id
    </sql>

    <select id="findByClusterName" resultType="org.apache.bigtop.manager.dao.po.ClusterPO">
        select
        <include refid="baseColumns"/>
        from
        cluster
        <where>
            <if test="clusterName!=null">
                cluster_name=#{clusterName}
            </if>
        </where>
        limit 1
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from cluster
    </select>

    <select id="findByIdJoin"
            resultType="org.apache.bigtop.manager.dao.po.ClusterPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="r"/>
        </include>
        , s.stack_name, s.stack_version
        from
        cluster r
        inner join stack s
        on r.stack_id = s.id
        <where>
            <if test="clusterId!=0">
                r.id=#{clusterId}
            </if>
        </where>
    </select>

    <select id="findAllByJoin"
            resultType="org.apache.bigtop.manager.dao.po.ClusterPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="r"/>
        </include>
        , s.stack_name, s.stack_version
        from
        cluster r
        inner join stack s
        on r.stack_id = s.id
    </select>

</mapper>