<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.bigtop.manager.dao.mapper.HostComponentMapper">

    <sql id="baseColumns">
        id, state, host_id, component_id
    </sql>
    <sql id="baseColumnsV2">
        ${alias}.id, ${alias}.state, ${alias}.host_id, ${alias}.component_id
    </sql>

    <select id="findAllByClusterIdAndComponentName"
            resultType="org.apache.bigtop.manager.dao.po.HostComponentPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="hc"/>
        </include>
        from
        host_component hc
        left join (select * from component
        <where>
            <if test="componentName != null">
                component_name = #{componentName}
            </if>
            <if test="clusterId != 0">
                and cluster_id = #{clusterId}
            </if>
        </where>
        ) c
        on hc.component_id = c.id
    </select>

    <select id="findAllByClusterIdAndServiceId"
            resultType="org.apache.bigtop.manager.dao.po.HostComponentPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="hc"/>
        </include>
        , c.service_id, c.component_name, c.display_name, c.category, s.service_name, clus.cluster_name, ht.hostname
        from
        host_component hc
        left join (select * from component
        <where>
            <if test="clusterId != 0">
                cluster_id = #{clusterId}
            </if>
            <if test="serviceId != 0">
                and service_id = #{serviceId}
            </if>
        </where>
        ) c
        on hc.component_id = c.id
        left join service s
        on c.service_id = s.id
        left join cluster clus
        on c.cluster_id = clus.id
        left join host ht
        on hc.host_id = ht.id
    </select>

    <select id="findByClusterIdAndComponentNameAndHostname"
            resultType="org.apache.bigtop.manager.dao.po.HostComponentPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="hc"/>
        </include>
        from
        host_component hc
        left join (select * from host
        <where>
            <if test="hostname != 0">
                hostname = #{hostname}
            </if>
            <if test="clusterId != 0">
                and cluster_id = #{clusterId}
            </if>
        </where>
        ) h
        on hc.host_id = h.id
        left join (select * from component
        <where>
            <if test="componentName != 0">
                component_name = #{componentName}
            </if>
            <if test="clusterId != 0">
                and cluster_id = #{clusterId}
            </if>
        </where>
        ) c
        on hc.component_id = c.id
    </select>

    <select id="findAllByClusterIdAndHostId"
            resultType="org.apache.bigtop.manager.dao.po.HostComponentPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="hc"/>
        </include>
        , c.service_id, c.component_name, c.display_name, c.category, s.service_name, clus.cluster_name, ht.hostname
        from
        host_component hc
        left join component c
        on hc.component_id = c.id
        left join service s
        on c.service_id = s.id
        left join cluster clus
        on c.cluster_id = clus.id
        left join (select * from host
        <where>
            <if test="clusterId != 0">
                cluster_id = #{clusterId}
            </if>
            <if test="hostId != 0">
                and id = #{hostId}
            </if>
        </where>
            ) ht
        on hc.host_id = ht.id
    </select>

    <select id="findAllByClusterId"
            resultType="org.apache.bigtop.manager.dao.po.HostComponentPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="hc"/>
        </include>
            , c.service_id, c.component_name, c.display_name, c.category, s.service_name, clus.cluster_name, ht.hostname
        from
        host_component hc
        left join (select * from component
        <where>
            <if test="clusterId != 0">
                cluster_id = #{clusterId}
            </if>
        </where>
        ) c
        on hc.component_id = c.id
        left join service s
        on c.service_id = s.id
        left join cluster clus
        on c.cluster_id = clus.id
        left join host ht
        on hc.host_id = ht.id
    </select>

    <select id="findAllJoin"
            resultType="org.apache.bigtop.manager.dao.po.HostComponentPO">
        select
        <include refid="baseColumnsV2">
            <property name="alias" value="hc"/>
        </include>
        ,st.stack_name,st.stack_version,ser.service_name,ser.service_user,clu.root,c.component_name,c.command_script,hst.hostname
        from
        host_component hc
        left join host hst
        on hc.host_id = hst.id
        left join
        component c
        on hc.component_id = c.id
        left join
        cluster clu
        on c.cluster_id = clu.id
        left join
        service ser
        on c.service_id=ser.id and c.cluster_id = ser.cluster_id
        left join stack st
        on clu.stack_id = st.id
    </select>

</mapper>