<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.bigtop.manager.dao.mapper.RepoMapper">

    <sql id="baseColumns">
        id, base_url, os, arch, repo_id, repo_name, cluster_id
    </sql>

    <select id="findByRepoName" resultType="org.apache.bigtop.manager.dao.po.RepoPO">
        select
        <include refid="baseColumns"/>
        from
        repo
        <where>
            <if test="repoName!=null">
                repo_name=#{repoName}
            </if>
        </where>
        limit 1
    </select>

    <insert id="saveAll">
        insert into repo (cluster_name, cluster_type, root, user_group, packages, repo_template, state, selected)
        values
        <foreach collection='clusters' item='cluster' separator=','>
            (#{cluster.clusterName},#{cluster.clusterType},#{cluster.root},#{cluster.userGroup},#{cluster.packages},#{cluster.repoTemplate},#{cluster.state},#{cluster.selected})
        </foreach>
    </insert>

    <select id="findAllByClusterId" parameterType="java.lang.Long"
            resultType="org.apache.bigtop.manager.dao.po.RepoPO">
        select
        <include refid="baseColumns"/>
        from
        repo
        <where>
            <if test="clusterId != 0">
                cluster_id = #{clusterId}
            </if>
        </where>
    </select>

</mapper>