<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.bigtop.manager.dao.repository.TaskDao">

    <sql id="baseColumns">
        id, state, name, context, command, hostname, custom_command, service_user, content, stack_name, stack_version,
        service_name, component_name, job_id, stage_id, cluster_id, create_time, update_time
    </sql>

    <update id="updateStateByIds" parameterType="java.util.List">
        UPDATE task
        SET "state" = CASE
        <foreach collection="tasks" item="item" index="index">
            WHEN id = #{item.id} THEN #{item.state}
        </foreach>
        END
        WHERE id IN
        <foreach collection="tasks" index="index" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="findByStageId" parameterType="java.lang.Long" resultType="org.apache.bigtop.manager.dao.po.TaskPO">
        select
        <include refid="baseColumns"/>
        from
        task
        <where>
            <if test="stageId != 0">
                stage_id = #{stageId}
            </if>
        </where>
    </select>

</mapper>