on: [push, pull_request]

jobs:
  license:
    name: "Check license"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Check license header
        uses: apache/skywalking-eyes@v0.6.0

  code-style:
    name: "Check code style"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - run: ./mvnw clean spotless:check

  unit-tests:
    name: "Run unit tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - run: ./mvnw clean test -Dskip.pnpm -Dskip.installnodepnpm
      
  unit-tests-ts:
    name: "Run unit tests(Vue/Typescript)"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - run: ./mvnw -pl bigtop-manager-ui test

  build:
    name: "Build project"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: ['17', '21']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - run: ./mvnw clean install -DskipTests -B -Djava.version=${{ matrix.java }}
